html{
    font-size: 20px;
    font-family: 'Moirai One', cursive;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    margin-top: 2rem;
    background: #ffffff;
    overflow-x: hidden;
}
* {
    color: #000000;
    // text-decoration: none;
    list-style: none;
    font-weight: normal;
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

.title {
    // font-family: 'Palette Mosaic', cursive;

    width: 100vw;
    .titleimage{
        width: 100vw;
        height: 100vh;
        display: flex;
        position: fixed;
        img {
            width: 100vw;
            margin-bottom: 1.5rem;
        }
    }
    
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    // div{
    //     font-size: 21rem;
    //     color: #000000;
    //     font-weight: bolder;
    // }
}

.animated-title {
    position: fixed;
    width: 100%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    overflow-x: hidden;
    overflow-y: hidden;
    .track {
        position: absolute;
        white-space: nowrap;
        will-change: transform;
        animation: flow 30s linear infinite;
        .flowtext{
            color: #2CE6FF;
            font-weight: bolder;
        }
    }
}
#container {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .contents{
        animation: bounce 1s infinite alternate backwards;
        font-weight: bolder;
        background: #ffffffb1;
        z-index: 100;
        width: 25%;
        // border: 2px solid #000000;
        display: flex;
        flex-direction: column;
        // border-radius: 50px;
        
        h1 {
            transition: .2s;
            margin: 1rem;
            text-align: center;
            // filter: blur(4px);
            margin: .5rem;
        }
        h1 a:hover {
            color: #ffffff;
        }
        .box{
            display: none;
            border-top: 2px solid #000000;
            margin: 1rem;
                .img{
                    position: relative;
                    padding: 2rem;
                    img{
                        border-radius: 10000px;
                        // border: 1px solid #000000;
                        animation: rotate 25s infinite linear forwards .2s;
                        width: 100%;
                    }
                }
                .img-title{
                    // margin-top: 1rem;
                    // margin-bottom: 1.5rem;
                    margin-bottom: .5rem;
                    width: 100%;
                    text-align: center;
                    border: 2px solid #ffffff;
                    background: #ffffff;
                    border-radius: 10px;
                    // position: absolute;
                    // left:50%;
                    // transform:translateX(-50%);
                }
                p{
                    margin: .5rem;
                    text-align: left;
                }
                p a {
                    font-size: inherit;
                    transition: .2s;
                }
                // .comment {
                //     background: #79fffd;
                //     border-radius: 20px;
                // }
        }
        .cir {
            width: 50px;
            height: 50px;
            border-radius: 100px;
        }
    }

    .contents:nth-child(1) {
        animation: bounce2 1s infinite alternate backwards .6s;
    }
    .contents:nth-child(3) {
        animation: bounce2 1s infinite alternate backwards .5s;
    }
    .contents:nth-child(4) {
        animation: bounce 1s infinite alternate backwards .2s;
    }
    .contents:nth-child(6) {
        animation: bounce2 1s infinite alternate backwards 1s;
    }
    .contents:nth-child(8) {
        animation: bounce 2s infinite alternate backwards .3s;
    }
    .contents:nth-child(10) {
        animation: bounce 1.5s infinite alternate backwards .2s;
    }
    .contents:nth-child(8) {
        animation: bounce 2s infinite alternate backwards .3s;
    }
    // .contents:after {content:""; position: absolute; top: 21px; right: -20px; border-left: 30px solid #79fffd; border-top: 10px solid transparent; border-bottom: 10px solid transparent;}
    
    .contents:hover{
        transition: .1s;
        background: #2ce6ff98;       
        cursor: pointer;
        animation: none;
        .box{
            display: flex;
            flex-direction:column;
        }
        h1 {
            filter: none;
            margin: 1rem;
        }
        .img {
            padding-top: 1.5rem;
        }
    }

}

@keyframes flow {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}

@media (hover :hover) and (min-width: 70px) {
    .animated-title .flowtext {
        -webkit-transform: translateY(calc(100% - 7rem));
        transform: translateY(calc(100% - 7rem));
    }
} 

@keyframes rotate {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes bounce {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(50px);
    }
}

@keyframes bounce2 {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(-10px);
    }
}

// @media screen and (max-width: 1240px) {
//     .title div {
//         font-size: 18rem;
//     }
// }

// @media screen and (max-width: 1024px) {
//     .title div {
//         font-size: 15rem;
//     }
//     .contents h1{
//         font-size: 1rem;
//         line-height: 1.5rem;
//     }
//     .img-title {
//         line-height: 1.3rem;
//         a {
//             font-size: 1rem;
//         }
//     }   
//     .contents p{
//         font-size: 1rem;
//         line-height: 1.5rem;
//     }
//     #container .contents {
//         width: 30%;
//     }
// }

// @media screen and (max-width: 768px) {
//     .title div {
//         font-size: 15rem;
//     }
//     #container .contents {
//         width: 40%;
//     }
// }

// @media screen and (max-width: 550px) {
//     .contents p{
//         margin: 0.1rem;
//     }
//     #container .contents {
//         width: 50%;
//     }
// }


@media screen and (max-width: 1024px) {

    * {
        font-size: 16px;
    }

    #container .contents {
        width: 30%;
    }

}

@media screen and (max-width: 550px) {
    * {
        font-size: 14px;
        animation: none;
    }

    body {
        width: 100vw;
        height: 100vh;
    }

    .animated-title {
        display: none;
    }
    #title{
        position: relative;

    }
    #container {
        .contents {
            width: 50%;
        }
    }
}
